#main{
    position: relative;
}

#white-div{
    
    background-color:white;
    width:200px;
    height:200px;
    position: relative;
    bottom: 10%;
}

#silver-div{
    background-color: silver;
    width:400px;
    height:100px;
    position: relative;
    border-radius: 5%;
    bottom: 10%;

}

#red-div {
    background-color: red;
    width: 400px;
    height: 250px;
    border-radius: 5%;
    position: relative;
    bottom: 10%;
}