#main-graph{
    background-color: aqua;
    width: 500px;
    height: 200px;
    position: relative;
}

.bar{
    background-color: aliceblue;
    width:20px;
    position: absolute;
    bottom: 10px;
}

#bar1{
    height: 10%;
    left:5%;
}
#bar2 {
    height: 30%;
    left: 15%;
}
#bar3 {
    height: 60%;
    left: 25%;
}
#bar4 {
    height: 50%;
    left: 35%;
}
#bar5 {
    height: 48%;
    left: 45%;
}
#bar6 {
    height: 35%;
    left: 55%;
}

.title{
    position: absolute;
    color: black;
    width: 30px;
    height: 30px;
    font-family: sans-serif;
    
}

#money {
    position: absolute;
    left: 10px;
    top: 10px;
}

#time {
    position: absolute;
    bottom: 10px;
    right: 10px;
}